@charset "UTF-8";

/* Small -> max 700px */
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}

.sr-only {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal;
}

html {
    font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oxygen";
}

header {
    text-align: center;
}

#header-logo {
    margin: 0.4em;
}

#main-nav {
    background: #612674;
}

#main-nav ul {
    margin: 0;
    padding: 0;
}

#main-nav li {
    list-style: none;
    text-align: center;
    padding: 1.5em;
    transition: background 0.1s ease-in-out;
}

#main-nav li:hover {
    background: rgba(255, 255, 255, 0.2);
    transition: background 0.1s ease-in-out;
}

#main-nav a {
    text-decoration: none;
    color: #eee;
    padding: 1.5em 8em;
}

.first-sect,
.second-sect {
    background-color: #f6f6f6;
    text-align: center;
}

.first-sect {
    padding: 2em;
}

#first-sect-spacing {
    display: none;
}

.first-sect .article-icon {
    display: none;
}

#title {
    color: #612674;
    margin: 1em;
    font-size: 2em;
}

#subtitle {
    color: #a87bb7;
    font-size: 1.4em;
    line-height: 1.5em;
    margin: 1em;
}

.button {
    display: inline-block;
    padding: 1em 2em;
    background: #58c4c4;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.1s ease-in-out;
}

.button:hover {
    background: #459999;
    transition: background 0.1s ease-in-out;
}

.second-sect {
    padding: 4em;
}

.second-sect .article-header {
    margin-top: 0.2em;
}

.main-sections article:not(:first-child) {
    margin-top: 4em;
}

.article-icon {
    display: inline-block;
    margin: 0;
    padding: 0;
    min-width: 3em;
    width: auto;
}

.article-header {
    color: #612674;
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.article-text {
    font-size: 1.3em;
}

.third-sect {
    padding: 4em;
}

.footer-list {
    padding: 0;
    background: #303d4c;
    list-style-type: none;
}

.footer-list li {
    display: inline-block;
}

.footer-icon {
    display: inline-block;
    text-align: center;
    font-size: 1.5em;
    padding: 1em;
    color: #fff;
    transition: color 0.2s ease-in-out;
}

.footer-icon:hover {
    color: #612674;
    transition: color 0.2s ease-in-out;
}

footer {
    height: 100%;
    background: #25303e;
    color: #aaa;
    text-align: center;
}

.copy {
    text-align: center;
}

.footer-text {
    text-align: center;
    margin: 0;
    padding: 0.5em 0.5em 1em;
}

/* Medium -> 700px to 1000px */
@media screen and (min-width: 700px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: nowrap;
    }

    #main-nav > ul {
        box-sizing: border-box;
        background: #fff;
    }

    #main-nav li {
        display: inline-block;
        padding-bottom: 1em;
    }

    #main-nav a {
        padding: 0;
        font-weight: 600;
        font-size: 1em;
        color: #612674;
        transition: color 0.2s ease-in-out;
    }

    #main-nav a:hover {
        color: #459999;
        transition: color 0.2s ease-in-out;
    }

    .first-sect {
        background: #531a66;
    }

    .first-sect .article-icon {
        display: unset;
        width: 6em;
    }

    #title {
        margin-top: 0.4em;
    }

    #title,
    #subtitle {
        color: #ddd;
    }

    .second-sect {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
    }

    .second-sect article {
        margin: 3em 1em;
    }

    .second-sect article:nth-of-type(2) {
        /* Fixes unexpected slighty uneven vertical positioning of 2nd article content. Don't know why*/
        margin: 3em 1em;
    }

    .second-sect .article-header {
        font-size: 1.4em;
    }

    .second-sect .article-text {
        font-size: 1.1em;
        margin: 0 1em;
    }

    .third-sect {
        padding: 2em;
    }

    .third-sect .article-header {
        font-size: 1.4em;
    }

    .third-sect .article-text {
        font-size: 1.1em;
    }

    .third-sect .button-p {
        text-align: right;
    }

    .footer-icon {
        padding: 0;
        margin: 0.7em 2em;
        font-size: 1.1em;
    }
    
    .copy {
        font-size: 0.7em;
    }
    .footer-text {
        font-size: 0.7em;
    }
}

/* Large -> above 1000px */
@media screen and (min-width: 1000px) {
    #first-sect-spacing {
        display: block;
        height: 50%;
    }

    .first-sect {
        height: 800px;
        background-image: url(../images/bg_topo_1600x1374.jpg);
        background-size: cover;
        background-position: center;
    }

    .second-sect {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .third-sect {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0 4em 4em 4em;
    }

    .third-sect article {
        margin-top: 0px !important; /* Removes undesired top margin that was not arbitrarily placed*/
        padding: 1em;
        align-self: center;
    }

    .third-sect .button-p {
        text-align: left;
    }
}
